%p#notice= notice

%p
  %b Name:
  = @phenotype.name
%p
  %b Morphology:
  = @phenotype.morphology_expression
%p
  %b Development:
  = @phenotype.development_expression
%p
  %b Behavior:
  = @phenotype.behavior_expression

= link_to 'Edit', edit_phenotype_path(@phenotype)
\|
= link_to 'Back', phenotypes_path
