= form_for @being do |f|
  - if @being.errors.any?
    #error_explanation
      %h2= "#{pluralize(@being.errors.count, "error")} prohibited this being from being saved:"
      %ul
        - @being.errors.full_messages.each do |msg|
          %li= msg
  .fieldset
    .legend Name
    %input.being-name{ type: 'text', name: "being['name'][]" }

  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :alive
    = f.check_box :alive
  .field
    = f.label :history
    = f.text_field :history
  .field
    = f.label :gender
    = f.select :gender, [:male, :female, :neuter]
  .actions
    = f.submit 'Save'
