= form_for @being, {class:'form-horizontal'} do |f|
  - if @being.errors.any?
    #error_explanation
      %h2= "#{pluralize(@being.errors.count, "error")} prohibited this being from being saved:"
      %ul
        - @being.errors.full_messages.each do |msg|
          %li= msg
  .container-fluid
    .field
      = f.label :names
      %input#being_names{ type: 'text', placeholder: 'Name', name: "being[names][]" }
    .field
      = f.label :age
      = f.number_field :age
    .field
      = f.label :alive
      = f.check_box :alive
    .field
      = f.label :gender
      = f.select :gender, [:male, :female, :neuter]
    .actions
      = f.submit 'Save'
