%h1 Listing beings

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Age
    %th Alive
    %th Gender
    %th{ colspan: 3 } Actions

  - @beings.each do |being|
    %tr
      %td= being.name
      %td= being.age
      %td= being.alive ? escape_once('&check;') : ''
      %td= being.gender
      %td= link_to 'Show', being
      %td= link_to 'Edit', edit_being_path(being)
      %td= link_to 'Destroy', being, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Being', new_being_path
