!!!
%html
  %head
    %title Town-O-Matic
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .brand
          Town-O-Matic
        %ul.nav
          %li= link_to 'new being', new_being_path
          %li= link_to 'list beings', beings_path
    #wrapper
      #content
        = yield

