!!!
%html
  %head
    %title Town-o-Matic
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .brand
          %h4
            = link_to 'Town-o-Matic', root_path
        %ul.nav.span4
          %li.span1= flat_button 'chevalier-on-horseback', new_being_path, size: 60
          %li.span1= flat_button 'mermaid', beings_path, size: 60
    #wrapper
      #content.container-fluid.span16
        = yield

